---
import Layout from "../layouts/Layout.astro";
import Photo from "../components/Photo.astro";
import Socials from "../components/Socials.astro";
import Projects from "../components/Projects.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="Kalle Lämsä">
  <main class="mx-auto max-w-screen-sm p-8">
    <nav>
      <Socials />
    </nav>
    <section class="mb-12 my-4">
      <Photo />
      <Profile />
    </section>
    <section class="my-4">
      <Projects />
    </section>
  </main>
</Layout>
