---
import Header from "./Header.astro";
---

<Header>
  Hello <span class="ml-1 text-3xl hand"> 👋</span>
</Header>
<p class="ml-1 text-lg text-gray-700 dark:text-gray-300">
  I'm Kalle and I work as a software developer in northern Finland. I enjoy
  creating new things and pondering the universe.
</p>

<style>
  .hand {
    display: inline-block;
    animation: 0.5s wave alternate 6 ease-in-out;
  }
  @keyframes wave {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(55deg);
    }
  }
</style>
