<h1 class="mb-4 text-2xl text-pink-600">
  Hi there <span class="ml-1 text-3xl hand"> 👋</span>
</h1>
<p class="ml-1 text-lg text-gray-700">
  I'm Kalle and I work as a software developer in northern Finland. I enjoy
  creating new things and pondering the universe.
</p>

<style>
  .hand {
    display: inline-block;
    animation: 0.5s wave alternate 6 ease-in-out;
  }
  @keyframes wave {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(55deg);
    }
  }
</style>
