---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta charset="author" content="Kalle Lämsä" />
    <meta
      name="description"
      content="I'm Kalle Lämsä, a software developer based in northern Finland and this is my personal website."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#db2878" />
    <meta property="og:title" content="Kalle Lämsä" />
    <meta
      property="og:description"
      content="I'm Kalle Lämsä, a software developer based in northern Finland and this is my personal website."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lamsa.dev" />
    <meta property="og:image" content="/images/preview.png" />
    <meta property="og:image:alt" content="Photo of the author" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body
    class="bg-swirl bg-no-repeat sm:[background-position-y:-3rem] md:[background-position-y:-5rem]"
  >
    <slot />
  </body>
</html>
